<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="airtel" class="com.ioc.Airtel"></bean>
    <bean id="vodaphone" class="com.ioc.Vodaphone"></bean>
    <bean id="sim" class="com.ioc.Airtel"></bean>

    <bean id="triangle" class="com.inject_object.Triangle" autowire="byName">
        <!-- <property name="pointA" ref="zeroPoint" />
        <property name="pointB" ref="point2" />
        <property name="pointC" ref="point3" /> -->
    </bean>

    <bean id="pointA" class="com.inject_object.Point">
        <property name="x" value="0" /> 
        <property name="y" value="0" /> 
    </bean>

    <bean id="pointB" class="com.inject_object.Point">
        <property name="x" value="-20" /> 
        <property name="y" value="0" /> 
    </bean>

    <bean id="pointC" class="com.inject_object.Point">
        <property name="x" value="20" /> 
        <property name="y" value="0" /> 
    </bean>



</beans>